.circle-background {
    stroke: transparent;
    background-color: transparent;
}

.circle-progress {
    stroke: black;
    stroke-linecap: round;
    stroke-linejoin: round;
}

@keyframes countdown-animation {
    to {
        stroke-dashoffset: 0;
    }
}